{% extends "juggling/current/base-form.html" %}

{% set pageTitle = "Check your answers" %}
{% set nextPage = "confirmation" %}

{% block formPageContent %}

<h1 class="govuk-heading-l">Check your answers before sending your application</h1>

{% if data['most-impressive-trick'] %}
  {% set trickAnswer = {
      key: {
        text: "Your most impressive juggling trick"
      },
      value: {
        text: jugglingTrick
      },
      actions: {
        items: [
          {
            href: "juggling-trick",
            text: "Change",
            visuallyHiddenText: "most impressive trick"
          }
        ]
      }
    }
%}
{% elif data['reminder'] %}
    {% set reminderAnswer = {
      key: {
        text: "Would you like a reminder to apply?"
      },
      value: {
        text: data['reminder']
      },
      actions: {
        items: [
          {
            href: "reminder",
            text: "Change",
            visuallyHiddenText: "whether you'd like a reminder"
          }
        ]
      }
    }
    %}
    {% if data['reminder'] == "Yes" %}
        {% set reminderDate = { key: {
                text: "Reminder date"
              },
              value: {
                text: data["reminder-date-day"] + " " + data['reminder-date-month'] | toMonth + " " + data['reminder-date-year']
              },
              actions: {
                items: [
                  {
                    href: "reminder-details",
                    text: "Change",
                    visuallyHiddenText: "reminder date"
                  }
                ]
              }
            }
        %}
        {% set reminderContact = { key: {
                text: "Reminder contact method"
              },
              value: {
                text: data["contact"] | capitalize
              },
              actions: {
                items: [
                  {
                    href: "reminder-details",
                    text: "Change",
                    visuallyHiddenText: "reminder contact method"
                  }
                ]
              }
            }
        %}
        {% set reminderContactDetails = { key: {
                text: data['contact'] | capitalize
              },
              value: {
                text: data['contact-by-' + data['contact']]
              },
              actions: {
                items: [
                  {
                    href: "reminder-details",
                    text: "Change",
                    visuallyHiddenText: data['contact']
                  }
                ]
              }
            }
        %}
    {% endif %}
{% endif %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Number of balls you can juggle"
      },
      value: {
        text: data['how-many-balls'] | default("3 or more", true)
      },
      actions: {
        items: [
          {
            href: "juggling-balls",
            text: "Change",
            visuallyHiddenText: "number of balls you can juggle"
          }
        ]
      }
    },
    trickAnswer,
    reminderAnswer,
    reminderDate,
    reminderContact,
    reminderContactDetails
  ]
}) }}
{% endblock %}
