
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype your service using GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services. This is an example of how to use some of the Prototype kit features. It makes extensive use of <a href="https://medium.com/gov-design/more-efficient-prototyping-with-the-gov-uk-prototype-kit-step-by-step-84ea2832549a">Vicky Teinaki's efficient prototyping tips</a>.
      </p>

      <h2 class="govuk-heading-m">Juggling examples</h2>
      <h3 class="govuk-heading-s">Current version</h3>
      <p><a href="juggling/current/index">Current version</a> contains:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>default values - allows check your answers to make sense, without having to have entered the data</li>
      </ul>
      <h3 class="govuk-heading-s">Version 2: Base templates</h3>
      <p><a href="juggling/2/index">Version 2</a> contains:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an index of all pages</li>
        <li>base templates</li>
      </ul>
      <h3 class="govuk-heading-s">Version 1: Starting example</h3>
      <p><a href="juggling/1/start">Version 1</a> is built using the <a href="https://govuk-prototype-kit.herokuapp.com/docs/make-first-prototype/start">basic tutorial</a> contains:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>checking answers</li>
        <li>basic branching</li>
      </ul>

    </div>
  </div>

{% endblock %}
